<!DOCTYPE html>
<html>
<head>
	<title>get images</title>
</head>
<body>
	<fieldset>
		<form method="POST" enctype="multipart/form-data">
		<input type="number" name="id" id="pid" required> 
			
		<label>Enter the images (Expected 6 images)*:</label> <br>

		<input type="file" name="img1" id="img1" required> <br>
		<input type="file" name="img2" id="img2" required> <br>
		<input type="file" name="img3" id="img3" required> <br>
		<input type="file" name="img4" id="img4" required> <br>
		<input type="file" name="img5" id="img5" required> <br>
		<input type="file" name="img6" id="img6" required> <br>
		
		<input type="submit" value="Submit">
		</form>
	</fieldset>

</body>
</html>